/backend/node_modules
.env

/client/node_modules
/client/.next


/task_service/node_modules
/api_gateway/node_modules
/auth_service/node_modules

/api_gateway/dist
/auth_service/dist
/task_service/dist

/auth_service/.vscode
/task_service/.vscode
/api_gateway/.vscode
/api_gateway/docs

/api_gateway/coverage
/auth_service/coverage
/task_service/coverage